* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-top: 3%;
    max-width: 600px;
    border: ridge 1.5px white;
    padding: 20px;
}

body {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

#fiveDetails{
width:300 px;
}